// Resets HTML
@import"./reset";
@import"./variables";

html {
    font-size: 10px;
}


// Gradient
@function gradient($gradientColor) {
    @return map-get($gradient, $gradientColor);
}

//Colors
@function colorz($colorz) {
    @return map-get($color, $colorz);
}

body {
    position: relative;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
    background: gradient("bg");
}

// Header
header {
    max-width: 100%;
    position: relative;
}

.header {
    padding: 10px;
    width: 80%;
    margin: 4vh auto;
    @include flex(space-between, center);
    border: 3px solid colorz("darkText");
    border-radius: 5px;

    &__img {
        img {
            width: 75px;
        }
    }

    &__score {
        padding: 8px 18px;
        background: #fff;
        @include flex(center, center);
        flex-direction: column;
        border-radius: 5px;
        text-transform: uppercase;

        h2 {
            font-size: 3rem;
            color: colorz("darkText");
            font-weight: 700;
        }

        p {
            color: colorz("scoreText");
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}

.main {
    position: relative;

    .section {
        @include flex (center, center);

        &__gameStart {
            opacity: 0;
            margin-top: 12vh;
            @include flex(center, stretch);
            transform: translate(-300%, 0px);
            transition: 0.5s transform ease-in, 0.3s opacity ease-in;

            &--triangle {
                position: absolute;
                width: 150px;
                height: 150px;
                z-index: -1000;

            }

            .game {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                @include flex(center, center);

                img {
                    border-radius: 50%;
                    box-shadow: inset 1px 7px 18px 0px #00000069;
                    ;
                    background: #fff;
                    padding: 15px;
                    width: 60px;
                    height: 60px;
                }
            }

            &--paper {

                transform: translate(17px, -32px);
                background: gradient("paper");
            }

            &--scissors {
                background: gradient("scissors");
                transform: translate(-17px, -32px);
            }

            &--rock {
                background: gradient("rock");
                transform: translate(0px, 72px);
            }

            &.active {
                opacity: 1;
                transform: translate(0%, 0px);
                transition: 0.5s transform ease-in, 0.5s opacity ease-in;
            }
        }

    }

}


.result {
    margin-top:-30vh;
    @include flex(space-around, center);
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .circle {
        margin: 10px;
        width: 70px;
        height: 70px;
        @include flex(center, center);
        flex-direction: column;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.274);
    }

    // COmputer against Human
    &__pc,
    &__human {
        @include flex(center, center);
        flex-direction: column;
        margin: 0vh auto 0px auto;
        width: 75%;

        // You Picked, THe House Picked
        &--text {
            padding: 2px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: .5px;
            color: #fff;
            font-size: 6px;
        }

    }

    // Shows If you Lose Or Won
    .loseOrWin {
        text-align: center;
        position: absolute;
        top: 34vh;
        text-transform: uppercase;

        p {
            color: #fff;
            font-weight: 700;
            font-size: 30px;
        }

        button {
            color: colorz("darkText");
            text-transform: uppercase;
            font-weight: 600;
            margin-top: 3vh;
            text-align: center;
            padding: 2vh 8vw;
            border-radius: 5px;
        }
    }

    &__human {
        &.after{
            content: "";
            width: 20px;
            height: 20px;
            padding: 20px;
            background: #000;
        }
    }
}





.rules {
    position: relative;
    top:31gvh;
    @include flex(center, center);

    .btn {
        text-align: center;
        border-radius: 5px;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid colorz("headOutline");
        font-size: inherit;
        font-family: inherit;
        outline: none;
        color: #fff;
        letter-spacing: 1.5px;
        padding: 2vh 6vw;
    }
}