@import"./reset";
@import"./variables";

@function gradient($grdnt) {
    @return map-get($gradient, $grdnt);
}

@function colorz($colorz) {
    @return map-get($color, $colorz);
}

html {
    font-size: 10px;
}

body {
    background: gradient("bg");
    font-family: 'Barlow Semi Condensed', sans-serif;

}

header {
    // margin: 10vh auto;
    max-width: 100%;

    .header {
        width: 75%;
        margin: 5vh auto;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid colorz("headOutline");
        border-radius: 5px;

        // Logo
        &__img {
            img {
                width: 40%;
            }
        }

        // Scores
        &__score {
            background: #fff;
            display: grid;
            place-items: center;
            padding: 7.5px 20px;
            border-radius: 5px;
            text-transform: uppercase;

            // SCORES
            &--title {
                font-size: 1rem;
                font-weight: 600;
                color: colorz("scoreText");
                letter-spacing: 1px;
            }

            // 12 Result
            &--result {
                color: colorz("darkText");
                font-size: 3.5rem;
                font-weight: 700;
                line-height: 35px;
            }
        }
    }
}

// Main
.main {
    margin-top: 15vh;
    position: relative;

    .show__rule {
        opacity: 0;
        background: transparent;
        transition: 0.3s opacity, background 0.3s;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 0;
        width: 100%;
        left: 0px;
        bottom: 0;
        text-align: center;
        padding-top: 20px;

        img {
            width: 70vw;
            transform: translate(2vw, 6vh);
        }

        &.active {
            background: white;
            transition: 0.2s opacity ease-in;
            opacity: 1;


        }

        h1 {
            text-transform: uppercase;
            color: colorz("darkText");
        }
    }

    &__games {
        // display: flex;
        display: none;
        justify-content: center;
        align-items: flex-start;

        &--triangle {
            position: absolute;
            width: 120px;
            height: 120px;
            left: 50%;
            transform: translate(-50%, 0px);
            z-index: -2000;
        }

        .flex {
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .game {
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            align-items: center;
            position: relative;


            img {
                object-fit: contain;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                padding: 12px;
                background: #fff;
            }
        }

        &--rock,
        &--hand {
            transform: translate(0px, -30px);
            margin: -10px;
        }

        &--scissors {
            background: gradient("rock");
            width: 100%;
            height: 100%;
            transform: translate(0px, 50px);

        }

        // ROck Background
        &--rock {
            background: gradient("scissors");
        }

        &--hand {
            background: gradient("paper");
        }
    }

}

//Answer Picked
.answer {


    // Answer Picked
    &__picked {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        // Human And Computer
        &--human,
        &--computer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // Circle Background After Game is Picked
            .circle {
                background: rgba(0, 0, 0, 0.288);
                width: 80px;
                height: 80px;
                border-radius: 50%;
                padding: 50px;
                position: relative;

                // The Background
                .game {
                    position: absolute;
                    top: -50px;
                    left: -50px;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                    align-items: center;
                    position: relative;


                    img {
                        object-fit: contain;
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                        padding: 15px;
                        background: #fff;
                    }
                }

                // Scissors Game
                &__scissors {
                    background: gradient("scissors");
                    width: 100%;
                    height: 100%;
                    display: none !important;
                }
                
                &__rock {
                    display: none !important;
                    background: gradient("rock");
                    width: 100%;
                    height: 100%;
                }
                
                &__paper {
                    background: gradient("paper");
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    h3 {
        text-transform: uppercase;
        padding-top: 20px;
        color: #fff;
        letter-spacing: 1px;
        word-spacing: 3px;

    }
}



// Rules
footer {
    display: grid;
    place-items: center;
    position: relative;
    top: 50px;

    .rules {
        z-index: 300000;
    }

    button {
        padding: 10px 20px;
        background: transparent;
        outline: none;
        border-radius: 4px;
        border: 2px solid colorz("headOutline");
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: colorz("darkText");
        // margin-top: 27vh;
        text-align: center;
        font-size: 12px;
        transition: 0.4s color, 0.4s background;


    }
}